:root{
  --morado: #6278f7;
  --blanco: #fff;
  --Montserrat : 'Montserrat', sans-serif;
  --Prata: 'Prata', serif;
  --grisClaro : #f7f7f7;
  --negro : #212121; 
}

html{
  font-size: 16px;
}
body {
  margin: 0;
  font-family: var(--Prata);
}
